{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}General{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-[90vh]">
    <div class="w-[90vw] mx-auto">
        <div class="grid sm:grid-cols-2 grid-col-1 gap-0 mt-4 sm:mt-0">
            <div class="h-[82vh] w-full max-w-[650px] mx-auto border rounded-md border-i-link-light">
                <div class="h-[50px] bg-[#fff] border-b rounded-t-md border-i-link-light flex items-center"> <!-- Header -->
                    <p class="text-i-header pl-2" style="font-size: 20px; font-weight:600;">Information</p>
                </div>
                <div class=""> <!-- Content -->

                </div>
            </div>
            <div class="grid grid-cols-1 mt-4 sm:mt-0 gap-4">
                <div class="h-[40vh] w-full max-w-[650px] mx-auto border rounded-md border-i-link-light">
                    <div class="h-[50px] bg-[#fff] border-b rounded-t-md border-i-link-light flex items-center"> <!-- Header -->
                        <p class="text-i-header pl-2" style="font-size: 20px; font-weight:600;">Account Information</p>
                    </div>
                    <div class=""> <!-- Content -->
    
                    </div>
                </div>
                <div class="h-[40vh] w-full max-w-[650px] mx-auto border rounded-md border-i-link-light">
                    <div class="h-[50px] bg-[#fff] border-b rounded-t-md border-i-link-light flex items-center"> <!-- Header -->
                        <p class="text-i-header pl-2" style="font-size: 20px; font-weight:600;">Update Information</p>
                    </div>
                    <div class=""> <!-- Content -->
    
                    </div>
                </div>
            </div> 
            
        </div>
    </div>
</div>
{% endblock %}